
header {
  background-color: #a04524;
}

header li a {
  color: aliceblue;
}

.form-control:focus {
  border-color: #f1bca9;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 8px rgba(243, 157, 59, 0.6);
}
a.active.nav-link {
  background-color: #d35629 !important;
  border-color: #a04524;
  border-radius: 20px;
}

.nav a:hover {
  background-color: #d35629;
  border-radius: 20px;
}

.nav a {
  border-radius: 20px;
}

.criar-roteiro button {
  background-color: #d35629;
  border-color: #d35629;
}

.criar-roteiro button:hover {
  background-color: #d35629;
}
